<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnCamera.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,840},{90,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{90,75}</string>
            </dict>
            <key>cbAzure.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,304},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>cbBlack.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,496},{100,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>cbBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,587},{83,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,97}}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>cbBrown.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,987},{79,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,88}}</string>
                <key>sourceSize</key>
                <string>{79,88}</string>
            </dict>
            <key>cbGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,726},{94,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,83}}</string>
                <key>sourceSize</key>
                <string>{94,83}</string>
            </dict>
            <key>cbLightYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,568},{75,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,99}}</string>
                <key>sourceSize</key>
                <string>{75,99}</string>
            </dict>
            <key>cbMint.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,397},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
            <key>cbOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,102},{81,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,91}}</string>
                <key>sourceSize</key>
                <string>{81,91}</string>
            </dict>
            <key>cbRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1028},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>cbRose.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,486},{101,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,80}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>cbViolet.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,672},{95,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,84}}</string>
                <key>sourceSize</key>
                <string>{95,84}</string>
            </dict>
            <key>cbWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,2},{81,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,98}}</string>
                <key>sourceSize</key>
                <string>{81,98}</string>
            </dict>
            <key>cbYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,404},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,357},{84,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,47}}</string>
                <key>sourceSize</key>
                <string>{84,47}</string>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,211},{92,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,37}}</string>
                <key>sourceSize</key>
                <string>{92,37}</string>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,168},{121,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,59}}</string>
                <key>sourceSize</key>
                <string>{121,59}</string>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,443},{86,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,29}}</string>
                <key>sourceSize</key>
                <string>{86,29}</string>
            </dict>
            <key>pb-bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,313},{104,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>pb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,229},{104,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>pb10.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,195},{107,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,84}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>pb1_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,168},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>pb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,955},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>pb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,645},{96,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,79}}</string>
                <key>sourceSize</key>
                <string>{96,79}</string>
            </dict>
            <key>pb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,885},{90,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,68}}</string>
                <key>sourceSize</key>
                <string>{90,68}</string>
            </dict>
            <key>pb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,758},{92,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>pb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1028},{87,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>pb7.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,811},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{91,72}</string>
            </dict>
            <key>pb8.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,917},{89,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,68}}</string>
                <key>sourceSize</key>
                <string>{89,68}</string>
            </dict>
            <key>pb9.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1028},{87,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,77}}</string>
                <key>sourceSize</key>
                <string>{87,77}</string>
            </dict>
            <key>room.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{437,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,314}}</string>
                <key>sourceSize</key>
                <string>{437,314}</string>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{167,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,164}}</string>
                <key>sourceSize</key>
                <string>{167,164}</string>
            </dict>
            <key>testVzor.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,305},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>assets.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e9a486b2ca21a2a03c794f9fe27e805$</string>
            <key>textureFileName</key>
            <string>assets.pvr.ccz</string>
        </dict>
    </dict>
</plist>
