<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1580},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1433},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1286},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1139},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>anim_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1433},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>anim_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1286},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>anim_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1139},{146,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,141}}</string>
                <key>sourceSize</key>
                <string>{146,141}</string>
            </dict>
            <key>cl_1_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,439},{889,391}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{889,391}}</string>
                <key>sourceSize</key>
                <string>{889,391}</string>
            </dict>
            <key>cl_2_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,770},{439,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,510}}</string>
                <key>sourceSize</key>
                <string>{439,510}</string>
            </dict>
            <key>cl_3_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1649},{436,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,305}}</string>
                <key>sourceSize</key>
                <string>{436,305}</string>
            </dict>
            <key>cl_4_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1210},{457,366}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,366}}</string>
                <key>sourceSize</key>
                <string>{457,366}</string>
            </dict>
            <key>cl_5_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1727},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>cl_6_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,88},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>cl_7_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1139},{79,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,66}}</string>
                <key>sourceSize</key>
                <string>{79,66}</string>
            </dict>
            <key>cl_8_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1846},{115,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,117}}</string>
                <key>sourceSize</key>
                <string>{115,117}</string>
            </dict>
            <key>cl_9_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,324},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,465},{130,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,134}}</string>
                <key>sourceSize</key>
                <string>{130,134}</string>
            </dict>
            <key>krk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,248},{80,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,75}}</string>
                <key>sourceSize</key>
                <string>{80,75}</string>
            </dict>
            <key>left_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,770},{45,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,149}}</string>
                <key>sourceSize</key>
                <string>{45,149}</string>
            </dict>
            <key>room.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>sh_1_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1},{924,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{924,437}}</string>
                <key>sourceSize</key>
                <string>{924,437}</string>
            </dict>
            <key>sh_3_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1210},{438,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,308}}</string>
                <key>sourceSize</key>
                <string>{438,308}</string>
            </dict>
            <key>sh_4_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,770},{459,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,368}}</string>
                <key>sourceSize</key>
                <string>{459,368}</string>
            </dict>
            <key>sh_5_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,600},{121,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,120}}</string>
                <key>sourceSize</key>
                <string>{121,120}</string>
            </dict>
            <key>sh_6_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,1},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>sh_7_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,397},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,67}</string>
            </dict>
            <key>sh_8_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,721},{116,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,119}}</string>
                <key>sourceSize</key>
                <string>{116,119}</string>
            </dict>
            <key>sh_9_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,173},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>shoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1983},{183,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,29}}</string>
                <key>sourceSize</key>
                <string>{183,29}</string>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1668},{437,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,314}}</string>
                <key>sourceSize</key>
                <string>{437,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>green.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3663dcf154f34edc42170c12660db1$</string>
            <key>textureFileName</key>
            <string>green.pvr.ccz</string>
        </dict>
    </dict>
</plist>
